/* j'ai rajouté ça pour que tu vois un peu plus à l'écran */
@media screen {
    body {
        background-color: grey;
    }

    .pagedjs_pages {
        display: flex;
        width: calc(var(--width) * 2);
        flex: 0;
        flex-wrap: wrap;
        margin: 0 auto;
        margin-bottom: 3em;
    }

    .pagedjs_page {
        background-color: white;
        box-shadow: 0 0 0 2px darkgrey;
        margin: 0;
        flex-shrink: 0;
        flex-grow: 0;
        margin-top: 10mm;
    }

    .pagedjs_first_page {
        margin-left: var(--width);
    }

    .pagedjs_page>[class*="pagedjs_margin"] {
        box-shadow: 0 0 0 1px black;
    }

    /* uncomment for recto/verso book. 
    --------------------------------------------------- */
    .pagedjs_pages {
        flex-direction: column;
        width: 100%;
    }

    .pagedjs_first_page {
        margin-left: 0;
    }

    .pagedjs_page {
        margin: 0 auto;
        margin-top: 10mm;
    }
}


@media print {
    @page {
      size: 140mm 200mm;
    }

    @page {
      margin: 5mm 5mm 5mm 5mm;

      @bottom-left {
          content: counter(page);
      }
    }

    @page cover {
        margin: 20mm 30mm;
        background: yellow;

        @top-center {
            content: "Moby-Dick";
        }
    }
}

.content {
    column-count: 2
}

h1 {
    page: cover;  
}

p { margin: 0; padding: 0; }

p:before { content: "…"; }

p + p { text-indent: 1em; }


a::after {
  content: ", page " target-counter(attr(href), page );
}

