/* j'ai rajouté ça pour que tu vois un peu plus à l'écran */
@font-face {
    font-family: "H2C";
    src: url("../fonts/H2C-Regular.ttf");
}

@font-face {
    font-family: "Px Grotesk";
    src: url("../fonts/PxGrotesk-Regular.otf");
}

@font-face {
    font-family: "quebrado";
    src: url("../fonts/Quebrado-Regular.otf");
}

@media screen {
    body {
        background-color: grey;
    }

    .pagedjs_pages {
        display: flex;
        width: calc(var(--width) * 2);
        flex: 0;
        flex-wrap: wrap;
        margin: 0 auto;
        margin-bottom: 3em;
    }

    .pagedjs_page {
        background-color: white;
        box-shadow: 0 0 0 2px darkgrey;
        margin: 0;
        flex-shrink: 0;
        flex-grow: 0;
        margin-top: 10mm;
    }

    .pagedjs_first_page {
        margin-left: var(--width);
    }

    .pagedjs_page>[class*="pagedjs_margin"] {
        box-shadow: 0 0 0 1px black;
    }

    /* uncomment for recto/verso book. 
    --------------------------------------------------- */
    .pagedjs_pages {
        flex-direction: column;
        width: 100%;
    }

    .pagedjs_first_page {
        margin-left: 0;
    }

    .pagedjs_page {
        margin: 0 auto;
        margin-top: 10mm;
    }
}


.test {
    width: 200px;
}


body {
    color: rgb(19, 0, 0);
    margin: 0px;
    font-family: Px Grotesk;
    font-size: 12pt;
    margin: 0mm !important;
    padding: 0mm !important;
    /* width: 5000px;
    height: 5000px; */
    /* transition: all 3s 1s; */
}


h1 {
    text-transform: uppercase;
    font-family: H2C;
    font-size: 40px;
    margin: 15px 0px;
}



@media print {
    @page {
        size: 210mm 297mm;

        /* border: 1px solid; */
        /* margin: 10mm 10mm; */
        /* @top-left {
            content: "poster ";
        } */

        @bottom-left {
            content: counter(page);
            /* content: string(title) */
        }
    }

    body {
        counter-reset: figureNumber;
    }

    .figcaption {
        counter-increment: figureNumber;
    }

    .figcaption::before {
        content: counter(figureNumber)
    }

    img {
        width: 105mm !important;
    }

    a {
        color: green;
        text-decoration: none;
        border-bottom: none;
    }

    a:hover {
        font-style: italic;
        color: #426bf4;
    }

    @page backmatter {
        margin: 20mm 30mm;
        background: yellow;
        font-family: 'Courier New', Courier, monospace;
        display: flex;
        justify-content: center;
    }

    .backmatter {
        page: backmatter;
    }




    @page :first {
        @top-left {
            font-family: H2C;
            font-size: 15pt;
            content: "UN APPRENTISSAGE LIBRE";
        }
    }
}