body {
    font-family: 'Gothic A1', sans-serif;
    font-size: 32px;
    margin: 5em;
}

p {
    max-width: 35em;
    margin: 0 auto;
}

:lang(fr) > q {
  quotes: '« ' ' »';
}

span { 
    /*outline: 1px solid blue;*/
    padding-left: 3em;
}
